<h1>Detalle de la ANP</h1>

<div class="container">
    <div class="column">
        <img src= <%= berlin.image %> />
    </div>
    <div class="column">
        <div class="subrow">
            <h2><%= berlin.name %></h2>
            <p><%= berlin.description %></p>
        </div>
        <div class="subrow">
            <div class="column">
                <form method="post" action="/berlin/ticket">
                    <label>Cantidad: </label>
                    <button type="button" id="sub" class="sub">-</button>
                    <input type="number" name="quantity" id="quantity">
                    <button type="button" id="add" class="add">+</button>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="column"> Importe total: <% let total = berlin.price * document.getElementByID('quantity').value %> </div>
        </div>
    </div>
</div>

<%- include('footer') -%>