<%- include('header') -%>
<h1>COMPRA FINALIZADA</h1>
<span class="bi-bookmark-check"></span>
<p>Tu compra ha sido concretada.</p>
<p>Revisa tu correo para ver la información de tu compra</p>
<form method="get" action="/">
    <button>Volver a inicio</button>
</form>
<%- include('footer') -%>