</main>
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Solucionatica</span></strong>. All Rights Reserved
    </div>
</footer>

<script type="text/javascript">
    let inputQuantity = document.getElementById('quantity');
    let totalPrice = document.getElementById('result');

    function updatePrice(q) {
        let price = q * ticketPrice;
        return price;
    }

    inputQuantity.addEventListener('input', function(e) {
        let value = e.target.value;
        if (!isNaN(value)) {
            totalPrice.innerHTML = updatePrice(value);
        }
    });
</script>

</body>
</html>