<h1>Detalle de la ANP</h1>

<div class="container">
    <div class="column">
        <img src= <%= kakiri.image %> />
    </div>
    <div class="column">
        <div class="subrow">
            <h2><%= kakiri.name %></h2>
            <p><%= kakiri.description %></p>
        </div>
        <div class="subrow">
            <div class="column">
                <form method="post" action="/kakiri/ticket">
                    <label>Cantidad: </label>
                    <button type="button" id="sub" class="sub">-</button>
                    <input type="number" name="quantity" id="quantity">
                    <button type="button" id="add" class="add">+</button>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="column"> Importe total: <% let total = kakiri.price * document.getElementByID('quantity').value %> </div>
        </div>
    </div>
</div>

<script>
    $('.sub').click(()=>{
        if($(this).next().val > 0)
            $(this).next().val(+$(this).next.val() - 1);
    });
    $('.add').click(()=>{
        $(this).prev().val(+$(this).prev.val() + 1);
    });
</script>